<section id="app">
  <div class="parentMoviesFilter">
      <section id="filter">
        <p id="parentsIntro">What would you like to see today?</p>
        <p id="clearF">Clear Filter</p>
        <h2 class="hidden">Filter</h2>
        <div class="filterOption" id="filter1"><p>Movies</p></div>
        <div class="filterOption" id="filter2"><p>Television</p></div>
        <div class="filterOption" id="filter3"><p>Music</p></div>
      </section>
      <section id="secondaryFilters">
        <h2 class="hidden"> Secondary Filter</h2>
        <div class="movieFilter hidden">
          <p class="Intro2">What Kind of Movies?</p>
          <div class="secF" id="adventure">Adventure</div>
          <div class="secF" id="comedy">Comedy</div>
          <div class="secF" id="education">Educational</div>
          <div class="secF" id="serious">Serious</div>
          <div class="secF" id="sports">Sports</div>
        </div>
        <div class="tvFilter hidden">
          <p class="Intro2">What Kind of Shows?</p>
          <div class="secF" id="tvF1">Cartoon</div>
          <div class="secF" id="tvF2">Educational</div>
          <div class="secF" id="tvF3">Comedy</div>
          <div class="secF" id="tvF4">History</div>
          <div class="secF" id="tvF5">Sports</div>
        </div>
        <div class="musicFilter hidden">
          <p class="Intro2">What Kind of Music?</p>
          <div class="secF" id="musF1">Pop</div>
          <div class="secF" id="musF2">Country</div>
          <div class="secF" id="musF3">Dance</div>
          <div class="secF" id="musF4">Rock</div>
          <div class="secF" id="musF5">Hip Hop</div>
        </div>
      </section>
    </div>

    <div class="moviesDiv">
      <h2>Movies</h2>
      <div class="movie-list" v-for="movie in movies">
        <a :href="'/watch/' + movie.id">
          <img class="movie-thumb" :src="'/images/' + movie.cover" :alt="movie.name">
        </a>
      </div>
    </div>

    <div class="musicDiv">
      <h2>Music</h2>
      <div class="musicThumb" v-for="song in music">
        <img class="musicCover" :src="'images/' + song.cover" :alt="song.title">
         <audio controls class="audio" :src="'audio/' + song.link"></audio>
        <h3>${song.title}</h3>
        <p>${song.artist}</p>
      </div>
    </div>

    <div class="tvDiv">
    <h2>Shows</h2>
    <div v-for="show in tv">
      <a class="movieLink" :href="'/watchTV/' + show.id" :id="show.id">
        <div class="movieThumb">
          <img :src="'/images/' + show.cover" :alt="show.title">
          <h3>${show.title}</h3>
        </div>
      </a>
    </div>
   </div>
</section>
